* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px black;
}
.img {
  height: 70%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4c29;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 2px 2px 15px black;
}
.img img {
  height: 200px;
  animation: slide-down 1s ease 0.3s forwards;
}
.form {
  background-color: #082032;
  padding: 100px 20px 20px 20px;
  height: 70%;
  width: 25%;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 2px 2px 15px black;
}
.fields {
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.fields label {
  color: white;
  font-size: 15px;
  animation: fade 1s 0.3s;
}
.fields input {
  color: white;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightslategray;
  background-color: transparent;
  animation: fade 1s 0.3s;
}
.fields input:focus {
  outline: none;
  border-bottom: 2px solid #ff4c29;
}
.fields-check {
  display: flex;
  align-items: center;
}
.fields-check label {
  padding: 10px;
  color: lightslategray;
  font-size: 10px;
}
.btn {
  display: inline-block;
  height: 25px;
  width: 100px;
  font-weight: 500;
  color: white;
  background-color: #ff4c29;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes slide-down {
  from {
    position: absolute;
    top: 250px;
  }
  to {
    top: 300px;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 400px) {
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .img {
    display: none;
  }
  .form {
    padding: 20px 20px;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
  }
  .circle1 {
    position: absolute;
    top: -25%;
    right: -50%;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background-color: #ff4c29;
  }
  .circle2 {
    position: absolute;
    top: 60%;
    left: 60%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ff4c29;
  }
  .circle3 {
    position: absolute;
    top: 90%;
    left: 10%;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color: #ff4c29;
  }
}
